vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Dec 2014 02:14:10 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|ITSERVICES\\ts1809
vti_modifiedby:SR|ITSERVICES\\ts1809
vti_timecreated:TR|22 Dec 2014 22:34:51 -0000
vti_backlinkinfo:VX|MStone-v1.2/Site/Slideshow/index.html MStone-v1.2/Site/Slideshow/components.html MStone-v1.2/Site/Slideshow/rtodd.html MStone-v1.2/Site/Slideshow/rtodda.html MStone-v1.2/Site/Slideshow/rtoddb.html
vti_nexttolasttimemodified:TW|24 Dec 2014 02:06:04 -0000
vti_cacheddtm:TX|24 Dec 2014 02:14:10 -0000
vti_filesize:IR|13827
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css Q|http://fonts.googleapis.com/css S|../images/488.GIF
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css NQHS|http://fonts.googleapis.com/css FSUS|MStone-v1.2/Site/Slideshow/assets/images/488.GIF
